@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

/* navbar section */
.nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav .material-symbols-outlined{
    border-radius: 50px;
    cursor: pointer;
}


.nav .material-symbols-outlined:hover{
    background-color: #dadada;
}

.nav .navigation-icons img{
    border-radius: 50px;
    height: 30px;
}

.search-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo-section .material-symbols-outlined{
    padding: 8px;

}

.logo-section > svg{
    margin: 18px 14px 18px 16px;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    height:40px;
    
}

.search-bar input{
    width: 491px;
    height: 29px;
    outline: none;
    border: none;
    padding: 0 0 0 16px;
    border-top-left-radius:50px ;
    border-bottom-left-radius: 50px;
    font-size: 16px;
}

.search-bar button{
    width: 64px;
    border-top-right-radius:50px ;
    border-bottom-right-radius: 50px;
    border: none;
    height:39px;
}

.mic-icon{
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 50px;

}

.material-symbols-outlined{
    color: #606060;
    margin-right: 10px;
}


/* navbar section */

/* body area */
.mainbody {
    height: calc(100vh - 56px);
    display: flex;
    overflow: hidden;
}

.categories {
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;
}

.category-section{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

.category_heading{
    margin: 10px 0px 10px 25px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;
}

.category{
width: 100%;
display: flex;
align-items: center;
height: 40px;
padding: 0px 24px;
font-size: 14px;
font-weight: 400;
cursor: pointer;
}

.category img{
    border-radius: 50%;
    height: 24px;
    margin-right: 24px;
}

.category:hover{
    background: #e6e6e6;
}

.active{
    background-color: #d8d8d8;
    font-weight: 500;
}

.active i{
    font-weight: 800;
}

.category i{
    margin-right: 24px;
}

/* footer styles */
.categories-footer {
    padding: 25px;
}

.footer-section {
    margin-bottom: 12px;
}

.footer-section span {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    color: #606060;
    cursor: pointer;
}

.copyright {
    color: #606060;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}

.videos {
    width: calc(100vw - 240px);
    height: 100%;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
    overflow-y: scroll;
}
.video-grid {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
.video {
    width: calc(25% - 12px);
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: 35px;
}
.video .thumbnail img {
    width: 100%;
}
.videos .details {
    display: flex;
    margin-top: 5px;
    width: 90%;
}
.video .profile {
    margin-right: 12px;
}
.video .profile img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.video .video-detail p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.video-detail p a{ 
    text-decoration: none;
    color: black;
    
}
.video .posted-by {
    font-size: 14px;
    font-weight: 500;
    color: #606060;
}
